//this is the profile page for both. needs project list access.
//if adding featured project, edit div class card with a header div


extends layout

block content
    form(method='POST')
        each course in #{courses}
            div(class="card")
                div(class='card-body')
                    h5 #{course.name}
                    p #{course.description}
                    p 
                    each skill in course.skills 
                        i ${skill},
                    input(type="submit" formaction="/me/bidProject/${course.projectID}/") Bid on project
    